<!DOCTYPE html>
<html>
  <head>
    <title>MY TITLE></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>My title</h1>
    <p>Welcome to My title</p>
  </body>
</html>
